:root {
    --dark-blue-1: #03045e;
    --dark-blue-2: #023e8a;

    --blue-1: #0077b6;
    --blue-2: #0096c7;

    --dark-turquoise: #00b4d8;
    --light-turquoise: #48cae4;

    --light-tur-1: #90e0ef;
    --light-tur-2: #ade8f4;
    --light-tur-3: #caf0f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:is(a) {
    text-decoration: none;
}
p{
  font-size: 1rem;
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: var(--dark-blue-1);
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: visible;
    width: 100%;
}
nav {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
}
#logo img {
    height: 6vh;
}

.nav-menu :is(a) {
    color: white;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 63%;
}
#tst {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--dark-blue-1);
  padding: 20px;
  width: 200px;
}
#tst a {
  display: block;
  color: white;
  /* font-weight: bold; */
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.nav-menu a:hover {
    color: var(--dark-turquoise);
}
#menu-bar {
    display: none;
}
#menu-bar img {
    width: 4vw;
    height: 5vh;
    background-color: azure;
}
.main-section {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 80vh;
    width: 100%;
}
.main-bg {
    background-image: linear-gradient(
            rgba(52, 51, 51, 0),
            rgba(48, 47, 47, 0.6)
        ),
        url("../images/ieeeans.jpg");
    z-index: -10;
    position: absolute;
    width: 100%;
    height: 80vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section {
    background-image: url("imges/background.svg");
    width: 100%;
}
.parent1 {
    font-weight: 600;
    text-align: center;
    justify-content: center;
    display: inline-block;
    margin: 50px;
}
.child1 {
    margin-bottom: 20px;
    font-size: xx-large;
}
h2 {
    color: #0077b6;
}
.parent2 {
    display: flex;
    margin: 50px;
    justify-content: center;
    gap: 100px;
}
.parent2 h2 {
  margin: 20px 0;
}
.child3 {
  width: 100%;
}
.child3 div {
  width: 100%;
  height: 500px;
}
.child3 div img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* Responsive */

/* Navbar */
@media (width <= 667px) {
  .nav-menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 63%;
  }
  #bars div {
    /* display: block; */
    background-color: white;
    width: 40px;
    height: 3px;
    margin-bottom: 5px;
  }
  .parent2 {
    flex-direction: column;
    width: fit-content;
    /* text-align: center; */
  }

}